# Backend
MONGO_URL=mongodb+srv://aadityaop:aaditya2011@eduhub.dxbdeq.mongodb.net/?retryWrites=true&w=majority&appName=EduHub
DB_NAME=edupulse
JWT_SECRET=change-me
CORS_ORIGINS=*

# Frontend
REACT_APP_BACKEND_URL=http://localhost:8001